:root {
    /*Primary Colours*/
    --red-colour: hsl(0, 100%, 74%);
    --green-colour: hsl(154, 59%, 51%);
    /*Accent*/
    --blue-accent: hsl(248, 32%, 49%);
    /*Neutral*/
    --dark-blue: hsl(249, 10%, 26%);
    --gray-blue: hsl(246, 25%, 77%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/**************
Index
1.) Typography
2.) Mobile Sizing & Styles
3.) Desktop Sizing & Styles
4.) Challenge Code
***************/


/**************
1.) Typography
***************/

body {
    font-size: 16px;
    background-image: url(./images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--red-colour);
    font-family: "Poppins", sans-serif;

}

h1 {
    font-size: 1.7rem;
    color: white;
}

p {
    color: var(--gray-blue);
    font-size: 0.9rem;
    font-weight: 400;
}

span {
    color: white;
    font-weight: 600;
}

div {
    width: 100%;
}

input::placeholder {
    font-family: "Poppins", sans-serif;
    color: var(--dark-blue);
    font-weight: 600;
}

input {
    border: solid 1px var(--gray-blue);
    border-radius: 0.25rem;

}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    background-color: var(--green-colour);
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
}

footer {
    margin-top: auto;
}

.finePrint {
    font-size: 0.6rem;
}

.terms {
    color: var(--red-colour);
    font-weight: 700;
}

.column-1,
.column-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorImg {
    margin-left: -30px;
    margin-bottom: -5px;
}

.hidden {
    display: none;
}

.submit:hover {
    cursor: pointer;
}

/**************
2.) Mobile Sizing & Styles
***************/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

h1 {
    margin-top: 80px;
}

p {
    padding: 10px 30px;
}

input {
    margin: 5px auto;
    padding: 15px;
    width: 85%;
}

button {
    padding: 15px;
    width: 85%;
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.15)
}

.tryCard {
    width: 75%;
    background-color: var(--blue-accent);
    border-radius: 0.5rem;
    margin: 25px auto;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
}

#fName {
    margin-top: 20px;
}

#pass {
    margin-bottom: 12px;
}

.column-1,
.column-2 {
    width: 100%;
}

#fnError,
#lnError,
#emError {
    color: red;
    font-size: 0.6rem;
    margin-left: 30%;
    padding: 0;
}

#pwError {
    color: red;
    font-size: 0.6rem;
    margin-left: 30%;
    padding: 0;
    margin-bottom: 10px;
}



@media screen and (min-width: 584px) {

    #fnError,
    #lnError,
    #emError {
        color: red;
        font-size: 0.6rem;
        margin-left: 50%;
        padding: 0;
    }

    #pwError {
        color: red;
        font-size: 0.6rem;
        margin-left: 50%;
        margin-top: -3.5%;
        padding: 0;
        margin-top: -6px;
        margin-bottom: 10px;
    }
}


/**************
3.) Desktop Sizing & Styles
***************/

@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        background-repeat: no-repeat;
    }

    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5rem;
    }

    h1 {
        font-size: 3rem;
    }
}


/**************
4.) Challenge Code
***************/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}